{% extends 'layouts/main.html' %}
{% block title %}New Artist{% endblock %}
{% block content %}
<div class="col-md-8">
  {% with messages = get_flashed_messages(with_categories=true) %} 
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}}">
    {{message}}
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
  <div class="form-wrapper">
    <form method="post" action="" class="form">
    {{form.hidden_tag()}}

      <h3 class="form-heading">List a new artist</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        {% for error in form.name.errors %}
        <ul>
          <li style="color:red;font-size:medium">{{error}}</li>
        </ul>
        {% endfor %}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
              {% for error in form.city.errors %}
              <ul>
                <li style="color:red;font-size:medium">{{error}}</li>
              </ul>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
              {% for error in form.state.errors %}
              <ul>
                <li style="color:red;font-size:medium">{{error}}</li>
              </ul>
              {% endfor %}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='08146580254', autofocus = true) }}
          {% for error in form.phone.errors %}
          <ul>
            <li style="color:red;font-size:medium">{{error}}</li>
          </ul>
          {% endfor %}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
        {% for error in form.genres.errors %}
        <ul>
          <li style="color:red;font-size:medium">{{error}}</li>
        </ul>
        {% endfor %}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
          {% for error in form.facebook_link.errors %}
          <ul>
            <li style="color:red;font-size:medium">{{error}}</li>
          </ul>
          {% endfor %}
        </div>
      
        <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
          {% for error in form.image_link.errors %}
          <ul>
            <li style="color:red;font-size:medium">{{error}}</li>
          </ul>
          {% endfor %}
        </div>

        <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
            {% for error in form.website_link.errors %}
            <ul>
              <li style="color:red;font-size:medium">{{error}}</li>
            </ul>
            {% endfor %}
          </div>

          <div class="form-group">
              <label for="seeking_venue">Looking for Venues</label>
              {{ form.looking_for_venue(placeholder='Venue', autofocus = true) }}
              
             
    
          </div>

          <div class="form-group">
              <label for="seeking_description">Seeking Description</label>
              {{ form.seeking_description(class_ = 'form-control', autofocus = true) }}
            </div>
      <input type="submit" value="Create Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
